<main>

    <div id="extra-section" class=" txt-24 txt-center txt-color-orange">Save Your Personal Notes</div>

    <div id="login-section" class="p-4 border">
        <h3 class="txt-18">Login Here</h3>

        <input class="d-block text-dark mt-6" type="text" placeholder="email" required>
        <input class="d-block text-dark mt-6" type="text" placeholder="password" required>

        <button class="btn-primary txt-14 d-block" style="margin: auto;margin-top: 8px;">Login</button>

        <!-- register block -->
        <div class="txt-center txt-12" style="margin-top: 8px;">
            <p>Not registered yet?
                <a routerLink="/signup" class="txt-color-orange" style="cursor: pointer;">click here</a>
            </p>
        </div>

    </div>
</main>
