<main>
    <!-- signup div -->
    <div class="div-center signup-div p-8">
        <h3 class="txt-18 txt-center">Sign Up</h3>
        <input class="d-block text-dark mt-6 div-center" type="text" placeholder="FirstName*" required>
        <input class="d-block text-dark mt-6 div-center" type="text" placeholder="MiddleName" >
        <input class="d-block text-dark mt-6 div-center" type="text" placeholder="LastName" required>
        <input class="d-block text-dark mt-6 div-center" type="text" placeholder="email*" required>
        <input class="d-block text-dark mt-6 div-center" type="text" placeholder="password*" required>

        <button class="btn-primary txt-14 d-block mt-8 div-center">Sign Up</button>

        <!-- register block -->
        <!-- <div class="div-center txt-12 mt-8 mb-8">
            <p class="txt-center">Not registered yet?
                <a routerLink="/signup" class="txt-color-orange" style="cursor: pointer;">click here</a>
            </p>
        </div> -->
    </div>
    <!-- end of signup div -->

</main>
