
#card-container
{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 0 4px;
    column-gap: 90px;

}

.card
{
    background-color: #102962;
    height : 150px;
    flex-basis: 26%;
    margin: 10px 0;
    display: flex;
    /* justify-content: center; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.card:hover
{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: box-shadow 200ms ease;
}

#noNotesDiv
{
    width: 80%;
    height: 80vh;
    display: flex;
    margin: auto;
}

#noNotes
{
    margin: auto;
}