/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color:#F7F7FF ; */
    outline: none;
    border: none;
    font-family:  'Open Sans', sans-serif !important;
}

.cardbg-color
{
    /* background-color: #B66D0D; */
    background-color: #1E96FC;
}
body
{
    background-color: #0f2557;
    color: #ffffff;
}

.txt-color-orange
{
    color:#f15048;
}

.error-clr
{
    color: #f00a15 !important;
}

.success-clr
{
    color:#065c18 !important;
}

.h-font
{
    font-family: 'Roboto', sans-serif;
}

main
{
    margin-top: 8vh;
}

.p-8
{
    padding: 8px;
}

.p-4
{
    padding: 4px;
}

.d-block
{
    display: block;
}

/* simple border */
.border
{
    border: 1px solid gray;
}

/* black text color for light background */
.text-dark
{
    color: #111111;
}

.txt-center
{
    text-align: center;
}

/* color choices

    1) saphire blue - #0B4F6C
    2)dodger blue - #1E96FC
    3)ghost white - #F7F7FF
    4)black chocolate - #0f1108
    5)international orange aerospace - #fe5d26
*/

/* 
text sizes */

.txt-12
{
    font-size: 12px;
}

.txt-14
{
    font-size: 14px;
}

.txt-18
{
    font-size: 18px;
}

.txt-24
{
    font-size: 24px;
}

/* 
    global button css
*/

.btn-primary
{
    background: #f15048;
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
}

.btn-primary:hover
{
    background: #065c18;
    transition: background 200ms ease;
}

.div-center
{
    margin: 0 auto 0 auto;
}

/* margins related */
.mt-4
{
    margin-top: 4px;
}

.mt-6
{
    margin-top: 6px !important;
}

.mt-8
{
    margin-top: 8px;
}

.mb-4
{
    margin-bottom: 4px;
}

.mb-8
{
    margin-bottom: 8px;
}

.pointer
{
    cursor: pointer;
}

.dialog-box
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(83, 83, 77, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dialog
{
    width: 30vw;
    margin: auto;
}

.addBtn
{
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.addBtn button
{
    background-color: #f15048;
    font-size: 24px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.addBtn button:hover
{
    background-color: #065c18;
    color: white;
    transition: all 200ms ease;
}
