
<main>

    <!-- when notes is present -->
    <div *ngIf = "currentNoteInfo && currentNoteInfo[0]">

        <!-- topic -->
        <h1 style="text-transform: capitalize;" class="txt-center txt-color-orange">{{currentNoteInfo[0].topic}}</h1>

        <div *ngIf = "currentNoteInfo[0].notes.length > 0" class="noteContainer">
            <p *ngFor = "let note of currentNoteInfo[0].notes;let currentIndex=index;">{{currentIndex+1}} - {{note.noteDesc}}</p>
        </div>

        <div *ngIf="currentNoteInfo[0].notes.length == 0 || currentNoteInfo[0].notes.length < 0" class="noteContainer">
            <p class="txt-center">current note is empty</p>
        </div>
    </div>

    <!-- button to add a new note -->
    <div class="addBtn">

        <button class="pointer" (click)="addNewNoteToTopic()">+</button>

    </div>

     <!-- dialog box -->
     <div class="dialog-box" *ngIf="openDialog">
        <app-dialog class="dialog" [title]="'Add New Note To This Topic'"
            [placeholder]="'Enter Note'" [isTextArea]="true" [purpose]="'newNote'" 
            (data)="dataFromDialog($event)">

        </app-dialog>
    </div>
</main>
